{:kotoba.app/id "cloud.itonami.isic-1072", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie6o7g3dilfkwes2kswb22t73brhsgeuuf3m27rrnmsibtobwam5a", :kotoba.app/embed-url "ipfs://bafkreie6o7g3dilfkwes2kswb22t73brhsgeuuf3m27rrnmsibtobwam5a", :published {:archive "https://kotobase.net/ipfs/bafkreie6o7g3dilfkwes2kswb22t73brhsgeuuf3m27rrnmsibtobwam5a", :size 72628, :put-status 201, :get-status 200, :at "2026-08-15T13:38:57.014Z"}}
